
h1{
    text-align:center
}

 .main-section{
   

    display: grid;
    grid-template-columns: repeat(2,1fr);
   
} 
.info{
    width:80%;
   margin: 0px auto;
    
}






/* media screen for mobiles */
@media only screen and (max-width: 668px) {
    .main-section{
   

        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    } 

}